footer {
    margin-top: 40px;
    background-color: #161b22;
    padding: 10px 0;
    width: 100%;
}

.footer_wrapper {
    width: 90%;
    margin: 0 auto;
}


.footer_text {
    text-align: center;
    padding-top: 10px;

}

.title{
    font-size: 16px;
    line-height: 24px;
}

.subtitle{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;   
}