.forgot_password{
    margin: 0 auto;
    text-align: center;
}

.forgot_password_logo{
    height: 48px;
    width: 48px;
    padding: 64px 0 32px 0;

}

.forgot_password_helper{
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: -0.5px;
}

.forgot_password_form{
    background-color: #161b22;
    padding: 16px;
    margin: 16px auto;
    border-radius: 6px;
    width: 500px;
    border: 1px solid #21262d;
}

.forgot_password_helper_form{
    text-align:left;
    font-weight:600;
    line-height: 21px;
    font-size:14px;
    margin-bottom: 8px;
}

.forgot_password_input_field{
    background-color: #0d1117;
    width: 474px;
    padding: 7px 12px;
    margin-top: 4px;
    margin-bottom: 16px;
    border: 1px solid #30363d;
    color: #c9d1d9;
    border-radius: 6px;
}

.submit{
    width: 276px;
    text-align: center;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500px;
    line-height: 20px;
    color: #c9d1d9;
    background-color: #238636;
    border-radius: 6px;
    border: 1px solid #30363d;
}



.forgot_password_captcha{
    margin: 0 auto;
    padding: 10px;
}

.captcha{
    display: flex;
}

